.mason-side-nav {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.mason-side-nav a {
  color: #909090;
  height: 30px;
  padding: 1rem;
  font-weight: 600;
  text-decoration: none;
}

a.is-active {
  color: #ffc700;
}
