.blockchain-explorer {
  font-family: 'VT323', monospace;
  position: fixed;
  bottom: -100px;
  width: 100%;
  height: 100px;
  background-color: #393e41;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.blockchain-explorer-visible {
  bottom: 0px;
}

.blockchain-block {
  font-family: 'VT323', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  width: 75px;
  height: 75px;
  background-color: #057aff;
  float: left;
  margin-right: 15px;
  left: 9999px;
  transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.blockchain-block:hover {
  background-color: #479dff;
}

.blockchain-block-added {
  left: 0;
}

.blockchain-list {
  padding: 14px;
}
