@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

body {
  background-color: #F5F6F8;
  font-family: 'Roboto';
}

.side-nav {
  background-color: white;
  border-right: 1px solid #e0e0e0;
}

.no-gutter {
  padding: 0;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}

td img {
  width: 100px;
}

.table td, .table th {
  vertical-align: middle !important;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
}
